<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %>
  <!-- insert the nav bar -->

  <% for (var i = 0; i < posts.length; i++){ %>
    <!-- Create nth content box -->
    <div class="white-bg">
      <div class="list-box">
        
        <h4><a href="/detail/<%= posts[i]._id %>" style="text-decoration : none">
          <%= posts[i].title %>
          <!-- Create nth link using tag <a> -->
          <!-- text-decoration : none  : getting rid of underline -->
        </a>
        </h4>
        <p><%= posts[i].content %></p>
      </div>

       
    </div> 
    <% } %> 
  </body>
</html>

<!-- 느낌표치고 엔터키 : html 기본템플릿 -->


