<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- 네브바 시작 -->
  <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a> <!-- 로고 -->

  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
      <i class="fas fa-bars"></i> <!-- 사이드바 토글 아이콘 -->
  </button>

  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <!-- 검색 폼 -->
      <div class="input-group">
          <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
          <button class="btn btn-primary" id="btnNavbarSearch" type="button">
              <i class="fas fa-search"></i> <!-- 검색 아이콘 -->
          </button>
      </div>
  </form>

  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <!-- 오른쪽 메뉴 목록 -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user fa-fw"></i> <!-- 드롭다운 토글 아이콘 -->
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <!-- 드롭다운 메뉴 -->
              <li><a class="dropdown-item" href="#!">Settings</a></li>
              <li><a class="dropdown-item" href="#!">Activity Log</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#!">Logout</a></li>
          </ul>
      </li>
  </ul>
</nav>
