<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body >
    <form class="form-box" action="/add" method="POST">
        <!--  method="POST": Sends form data via the server -->
        <!-- <form action="URL">: Where to send the form-data when the form is submitted -->
        <h4>글쓰기</h4>
        <input name="title">
        <input name="content">
        <button type="submit">전송</button>
    </form> 
    <!-- Page with form for writing -->

  </body>
</html>

